ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }
  h1{
    text-align: center;
    background-color: aquamarine;
    font-family:"Sofia" ,sans-serif;
}
  #grad {
    background-image: repeating-radial-gradient(rgb(127, 229, 255), rgb(93, 171, 210) 10%, rgb(205, 217, 219) 20%);
  }
  p{
    text-align: center;
    font-size: medium;
  }
  .info{
    background-color:hotpink;
}
#jg{
    background-color:rgba(20%, 80%, 0.30%, 0.4);
}